@font-face {
    font-family: Corbel;
    src: url(/fonts/CORBEL.ttf);
}

@font-face {
    font-family: Tahu;
    src: url(/fonts/TAHU!.OTF);
}

@font-face {
    font-family: Geometr;
    src: url(/fonts/Geometr.TTF);
}